.c-item{
    height: 16rem;
    
}
.btn{
    border-color: green;
    }
.nav-link{
    color: rgba(17, 92, 17, 0.635);
}
.btn-primary{
    background-color: rgb(25, 125, 25) !important;
}
.loginbtn{
    border-color: green !important;
    color: green !important;
    
}
.btn-primary:hover,.btn:hover, .btn:active{
color:green ;
border-color: green;
}
.btn-primary:hover {
    background-color: rgb(94, 69, 41) !important;
    color: #fff !important;
    
  }
  .btn:hover,.btn:focus{
    background-color: rgb(33, 66, 22) !important;
    color: #fff !important;
    border-color: green !important;
    color: white;
    
  }
  .navcolor:hover{
    color: green !important;
  }
  .totalnum{
    color: rgb(119, 193, 85);
  }
  .abouttext{
    color: rgb(46, 93, 46);
  }